<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= @message %>
<br>
<%= @user.id %>.
<%= @user.username %>
<%= @user.email %>
<br>
<%= link_to 'Destroy',  { action: :destroy, id: @user.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
